/*bg images*/
$bg-index: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
  url(../imagenes/hero.jpg);

$bg-size-cover: cover;
$bg-no-repeat: no-repeat;
$height-450: 450px;
$max-width: 100%;

/*colors*/
$linear-gradient: linear-gradient(90deg, #15eeec, #e115ee);
$color-transparent: transparent;
$text: text;
